body{
	background: #f5f5f5;
}
.container {
	width: 1226px;
	margin: 40px auto 0;
	background-color: #fff;
}
.container .contain-head{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	text-align: center;
}
.container .icon-checkbox {
	display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
	cursor: pointer;
	margin-right: 15px;
}
.container .icon-checkbox.icon-checkbox-selected {
	border-color: #ff6700;
	background-color: #ff6700;
	position: relative;
}
.container .icon-checkbox.icon-checkbox-selected::after {
	content: '';
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	position: absolute;
	top: 1px;
	left: 6px;
}
.container .col-check {
	width: 110px;
	text-align: left;
}
.container .col-img {
	width: 120px;
}
.container .col-name {
	width: 380px;
	text-align: left;
}
.container .col-price {
	width: 140px;
}
.container .col-num {
	width: 150px;
}
.container .col-total {
	width: 120px;
    padding-right: 81px;
}
.container .col-action {
	width: 80px;
}
.container .content-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	height: 116px;
	box-sizing: border-box;
	padding: 15px 26px 15px 0;
	border-top: 1px solid #e0e0e0;
	color: #424242;
	font-size: 16px;
}
.content-item .col-img img {
	width: 80px;
	height:80px;
}
.content-item .col-name {
	font-size: 18px;
}
.content-item .col-num {
	display: flex;
	align-items: center;
}
.content-item .col-num input{
	width: 38px;
	height: 38px;
	line-height: 36px;
	box-sizing: border-box;
	text-align: center;
	outline: none;
	background-color: #fff;
	border: solid 1px #ccc;
	color: #757575;
	font-size: 20px;
	cursor: pointer;
}
.content-item .col-num .btnReduce {
	border-right: none;
}
.content-item .col-num .btnAdd {
	border-left: none;
}
.content-item .col-num .btnAdd:hover,.content-item .col-num .btnReduce:hover {
	background-color: #e0e0e0;
}
.content-item .col-num .buyNum {
	width: 72px;
	height: 38px;
	border-right: none;
	border-left: none;
}
.content-item .col-total {
	color: #ff6700;
}
.content-item .col-action span{
	cursor: pointer;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 24px;
}
.content-item .col-action span:hover {
	background-color: #e53935;
	color: #fff;
}
.contain-botttom {
	width: 1226px;
	margin: 40px auto 0;
	height: 50px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.contain-botttom  .left {
	display: flex;
	color: #757575;
	align-items: center;
}
.contain-botttom  .left a {
	margin-left: 32px;
	color: #757575;
	cursor: pointer;
}
.contain-botttom  .left a:hover {
	color: #ff6700;
}
.contain-botttom  .left .total {
	margin-left: 16px;
	padding-left: 16px;
	height: 16px;
	line-height: 16px;
	border-left: 1px solid #eee;
}
.contain-botttom  .left .total span {
	color: #ff6700;
}
.contain-botttom  .center {
	flex: 1;
	padding-right: 40px;
	font-size: 14px;
	text-align: right;
	color: #ff6700;
}
.contain-botttom  .center span {
	font-size: 30px;
	padding: 0 4px;
}
.contain-botttom  .right {
	width: 200px;
	height: 48px;
	border: 1px solid #ff6700;
	background-color: #ff6700;
	color: #fff;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
.contain-botttom  .right.noAllow {
	cursor: not-allowed;
	background-color: #ccc;
	border-color: #ccc;
}



/*蒙层*/
#mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10010;
	display: none;
}
/*蒙层里边的弹框*/
#confirmBox{
	width: 480px;
	height: 280px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #FFFFFF;
}
#confirmBox .title{
	padding: 10px 20px;
	height: 40px;
	font-size: 20px;
	/* background-color: #cdcdcd; */
	color: #484848;
}
#confirmBox .title .delImg:hover{
	cursor: pointer;
}
#confirmBox .confirmText{
	padding: 35px 50px;
	text-align: center;
	font-size: 24px;
}
#confirmBox .input{
	padding: 40px 30px;
	text-align: center;
}
#confirmBox .input input{
	cursor: pointer;
	width: 160px;
	height: 40px;
	outline: none;
	border: 1px solid #F2F2F2;
	background-color: #cdcdcd;
	font-size: 18px;
	line-height: 40px;
}

#confirmBox #confirmDelBtn{
	background-color: #ff6700;
	color: #FFFFFF;
}

/* footer */
.site-footer{
    background: white;
}
.footer-service{
    border-bottom: 1px solid #e0e0e0;
    padding: 27px 0;
}
.footer-service .service-list .service-item{
    width: 19.9%;
    float: left;
    border-right:1px solid #e0e0e0;
    line-height: 25px;    
    text-align: center;
}
.footer-service .service-list .service-item:last-child{
    border-right: none;
}
.service-list .service-item a{
    color: #616161;
    font-size: 16px;
}
.service-list .service-item img{
    vertical-align: -6px;
    margin-right: 6px;
}

.footer-links{
    padding: 40px 0;
}
.footer-links .links-list{
    width: 160px;
    float: left;
}
.footer-links .links-list dt{
    font-size: 14px;
    color: #424242;
    margin-bottom: 26px;
    line-height: 1;
}
.footer-links .links-list dd{
    margin-top: 10px;
    line-height: 1;
}
.footer-links .links-list dd a{
    font-size: 12px;
    color: #757575;
}
.footer-links .links-list dd:hover a{
    color: #ff6700;
}
.footer-links .contact{
    width: 247px;
    float: right;
    border-left:1px solid #e0e0e0;
    text-align: center;
}
.footer-links .contact .phone{
    color: #ff6700;
    font-size: 22px;
    line-height: 1;
}
.footer-links .contact .phone+p{
    color: #616161;
    font-size: 12px;
    margin-top: 5px;
}
.footer-links .contact a{
    display: block;
    width: 118px;
    height: 28px;
    border:1px solid #ff6700;
    margin: 0 auto;
    font-size: 12px;
    color: #ff6700;
    line-height: 30px;
    margin-top: 16px;
    transition: all .4s;
}
.footer-links .contact a:hover{
    color: white;
    background: #f25807;
    border-color:#f25807 ;
}
.footer-links .contact .iconfont{
    font-size: 10px;
    vertical-align: top;
    margin-right: 6px;
}

.site-info{
    background: #f5f5f5;
    padding: 30px 0;
    position: relative;
    font-size: 12px;
}
.site-info .logo{
    width: 57px;
    height: 57px;
    background: url('../images/logo-footer.png') no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}
.site-info .info-text{
   padding-left: 67px;
   line-height: 18px;
}
.site-info .info-text .sites span{
    color:#b0b0b0;
}
.site-info .info-text .sites a{
    color: #757575;
}
.site-info .info-text .sites a:hover{
    color: #ff6700;
}
.site-info .info-images{
    margin-left: 67px;
    margin-bottom: 15px;
}
.site-info .info-images img{
    width: auto;
    height: 28px;
}

.site-info .slogan{
    height: 19px;
    width: 267px;
    background: url('../images/slogan2016.png') no-repeat center;
    margin: 30px auto 0;
}

/* header-logo */
.site-header .header-logo{
    width: 55px;
    overflow: hidden;
    margin-top: 22px;
}
.header-logo .logo{
    display: block;
    width: 55px;
    height: 55px;
    background: #FF6700;
    position: relative;
}
.header-logo .logo::before,.site-header .logo::after{
    content: '';
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;
}
.header-logo .logo::before{
    background: url('../images/mi-logo.png') no-repeat 50% 50%;
    opacity: 1;
}
.header-logo .logo::after{
    background: url('../images/mi-home.png') no-repeat 50% 50%;
    opacity: 0;
    margin-left: -55px;
}
.header-logo .logo:hover::before{
    transform:translateX(55px);
    opacity: 0;
}
.header-logo .logo:hover::after{
    transform:translateX(55px);
    opacity: 1;
}