/*公共样式*/
body{
    background: white;
    color: #757575;
}
input{
    color: #4a4a4a;
}
.layout-panel{
    width: 1130px;
    min-width: 1130px;
    margin: 0 auto;
}
/* 头部 */
#head .h-panel{
    height: 98px;
}
#head .h-panel a{
    display: block;
    height: 98px;
}

/* 内容 */
#content .layout-panel{
    width: 100%;
    height: 588px;
    position: relative;
}
.login_banner{
    background: url(../images/login_bg.jpg) no-repeat top center;
    width: 100%;
    height: 588px;
    position: absolute;
    top:98px;
}
.login-panel{
    background:#fff;
    width: 410px;
    height: 556px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 8%;
}
.nav-tabs {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
}
.nav-tabs a{
    color: #666;
}
.nav-tabs a.now {
    color: #f56600;
}
.line {
    width: 1px;
    height: 24px;
    margin: 0 42px 0 36px;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}
/*login-area*/
.login-area{
    width: 348px;
    padding-bottom: 0;
    padding-top: 10px;
    margin: 0 auto;
}
.login-area .form-control{
    width: 316px;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
}
.btn{
    background-color: #ff6700;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-top: 20px;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.err-tip {
    margin-bottom: 5px;
    line-height: 20px;
    color: #ff6700;
    display: none;
}
.err-tip.has-error{
    display: block;
}
.form-control:first-child.has-error{
    border-color: #ff6700;
}

.icon-Shapex{
    width: 14px;
    height: 14px;
    font-size: 14px;
}
.other-panel, .go_res{
    display: inline-block;
    color: #999;
}
.other-panel a{
    color: #ff6700;
    border: 0 none;
    height: auto;
    line-height: normal;
    margin: 0;
}
.go_res a{
    padding-top: 0;
    color: #999;
}
.go_res a:hover{
    color: #ff6700;
}
.other-login-type {
    margin-top: 110px;
}
.oth_type_tit{
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
.oth_type_txt{
    color: #e0e0e0;
}
fieldset{
    border: 0;
}
.oth-type-links{
    padding-top: 3px;
    text-align: center;
}
.icon-type {
    width: 30px;
    height: 30px;
    margin: 0 12px;
    display: inline-block;
}

.oth-type-links .iconfont{
    font-size: 30px;
}
.icon-qq{
    color:#0288d1
}
.icon-weibo-circle{
    color: #d32f2f;
}
.icon-alipay-circle{
    color: #0ae;
}
.icon-wechat{
    color: #00d20d;
}
/* ercode-area */
.ercode-area{
    width: 100%;
    height: 100%;
    text-align: center;
}
.ercode-area .ercode-box{
    margin-top: 100px;
}
.ercode-box .custom-sub-txt{
    padding: 14px 0 0 0;
}
.ercode-box .custom-sub-txt a{
    color: #ff6700;
}
/*尾部*/
#foot{
    padding-top: 100px;
    text-align: center;
    height: 80px;
    font-size: 14px;
}
.link-list a{
    display: inline-block;
    padding: 0 10px;
}
.link-list a,.intro a{
    color: #757575;
}
.link-list a:first-child{
    color: #333;
}
.link-list a:hover{
    color: #333;
} 
.intro{
    padding: 10px;
}